@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}
:root{
  --cor1: #b98a5c;
  --cor2: #ffffff;
  --cor3: #aeaeae;
  --cor4: #000000;
  --cor5: #f7f7f7;
  --cor6: #7f7f7f;
  --cor7: #383838;
}



.container{
  display: flex;
  max-width: 1140px;
  margin: auto;
  height: 100%; /*vai tomar o tamanho inteiro da section que tiver*/
}



/*Configurações do Cabeçalho*/

header{
  justify-content: center;
  height: 100px;
  background-color: var(--cor4);
}

header .container{
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  color: var(--cor1);
  width: 80px;
  height: 80px;

  justify-content: center;
  align-items: center;

  font-size: 40px;
  border: 3px solid var(--cor1);
  border-radius: 40px;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu ul, li{ /*Alinha os links que estão na lista*/
  display: flex;
}

.menu a{
  display: flex; /*coloca em flex pra facilitar a personalização*/
  color: var(--cor2);
  text-decoration: none;
  text-transform: uppercase;

  height: 100px;
  align-items: center;
  border-bottom: 3px solid var(--cor4); /*Evita que o menu "salte" quando o mouse passar por cima*/

  padding: 0 6px;
  font-weight: 600;
  font-size: 15px;
}

#selected, .menu a:hover {
  border-bottom: 3px solid var(--cor1);
  transition-duration: 0.2s;

}

/*Primeira seção - home*/

#home{
  background-image: url(../complementos/bg.jpg);
  background-size: cover;
  height: calc(100vh - 100px); /*tamanho da tela do usuário menos o tamanho do header*/
  background-position: bottom;
}

.fundo{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.574);
  height: 100%;
}

.home-content{
  display: flex;
  flex: 1; /*para preencher todo o espaço restante depois do slide*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-transform: uppercase;
  color: var(--cor2);
}
.home-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content h1{
  font-weight: bold;
  font-size: 50px;

  line-height: 50px;
}

.home-content h1 span{
  color: var(--cor1);
}

.home-content h2{
  margin: 13px 0;
  font-size: 17px;
}

.button{
  background-color:var(--cor1);
  color: var(--cor2);
  font-size: 13px;
  font-weight: 600;

  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 52px;
  margin-top: 30px;
  border: 1px solid var(--cor1);
  border-radius: 30px;
}

.button:hover{
  background-color: var(--cor2);
  color: var(--cor1);
  border: 1px solid var(--cor1);

  transition-duration: 0.2s;
}

.slide{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide .selected{
  background-color: var(--cor1);
}

.slide-circle{
  width: 16px;
  height: 16px;
  border: 2px solid var(--cor1);
  border-radius: 8px;
  margin: 0 3px;
}

.slide-circle:hover{
  cursor: pointer;
}

/*Segunda seção - about us*/

.column{
  flex-direction: column;
}


.default{
  padding: 40px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.default-title h1, .default-desc h2{
  text-transform: uppercase;
  font-weight: 700;
}
.default-title h1{
  font-size: 21px;
}

.default-desc h2{
  color: var(--cor3);
  font-size: 11px;
  margin-top: 7px;
}

.default-body{
  margin-top: 50px;
  width: 100%;
}

.dark, .default.dark, .default.dark .default-title, .default.dark .default-body{
  background-color: #000;
  color: var(--cor2);
}

.light{
  background-color: #ededed;
}

.flex{
  display: flex;
}





/* Sections específicas*/


/*Segunda seção - about us*/

#about-us .default-body{
  display: flex;
}

#about-us .button{
  display: inline-flex;
}

.aboutus1{
  flex: 1;
}
.aboutus1 p{
  line-height: 25px;
}
.aboutus2{
  width: 500px;
}
.aboutus2 img{
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.398);
}

/*Terceira seção - Services*/
#services{
  background-color: var(--cor4);

}

#services .default-body{
  display: flex;
}

.services-box{
  padding: 25px 20px;
  flex: 1;

  background-color: var(--cor4) ;
  text-align: center;
  
  border-right: 1px solid var(--cor7) ;
}

.services-box:first-child{
  border-left: 1px solid var(--cor7)
}

.services-box h1{
  font-size: 17px;
  padding-top: 25px;
  text-transform: uppercase;
}

.services-box p{
  font-size: 14px;
  color: var(--cor6);
  padding-top: 10px;
}


/* Quarta seção - our projects */

#our-projects .default-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-menu{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.projects-menu ul, .projects-menu li{
  display: inline-block;
  list-style: none;
}

.projects-menu ul{
  background-color: #ededed;
  border: 2px solid #cfcfcf ;
  border-radius: 30px;
  padding: 0 20px;
}

.projects-menu li{
  display: inline-block;
  padding: 10px; 
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 3px solid transparent;
  border-left: 1px solid #cfcfcf ;
}

.projects-menu li:first-child{
  border-left: none;
}

.projects-menu li:hover, .projects-menu .selected{
  border-bottom: 3px solid var(--cor1);
  cursor: pointer;
}


.projects-photos-geral{
  justify-content: center;
  display: flex;  
  flex-wrap: wrap;
  margin-top: 20px;
}
.projects-photo{
  width: 255px;
}

.projects-photoarea{ /* cria uma área da imagem e da descrição*/
  margin: 10px;
  width: 235px;
  height: 135px;
}

.projects-photoarea img{
  width: inherit;
  height: inherit;
}

.photoarea-info{
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  width: inherit; /*Limira o tamanho ao mesmo do photoarea*/
  height: inherit;
  background-color: rgba(0, 0, 0, 0.625);
  padding: 10px;
  
  color: #fff;
  text-align: center;
}

.photoarea-info h1{
  text-transform: uppercase;
  font-size: 15px;
}

.photoarea-info p{
  padding: 10px;
  font-size: 11px;
}

.projects-photoarea:hover .photoarea-info{
  opacity: 1;
  transition-duration: .3s;
  backdrop-filter: blur(1px);
}

/* Quinta seção - Our Team */

#our-team{
  background-image: url(../complementos/bg2.jpg);
  background-size: cover;
  background-position: center;
}

#our-team .default{
  padding: 40px 0 0 0;
  background-color: transparent;
}

#our-team .default-body{
  background-color: transparent;
}



.workers-area{
  background-color: #fff;
  padding: 50px;
  color: #000;
  text-align: center;
  margin: 10px;

  border-radius: 4px;
}

.workers-info{
  margin-bottom: 10px;
  padding: 35px 0;
}

.workers-info h1{
  font-weight: 500;
  font-size: 23px;
  text-transform: uppercase;
}

.workers-info h2{
  font-weight: 400;
  font-size: 14px;
} 

.social-icon{
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #bebebe;
  margin: 10px 3px;
  padding: 10px;
  border-radius: 20px;
}

.social-icon:hover, .social-icon.selected{
  background-color: var(--cor1);
  cursor: pointer;
  transition-duration: .3s;
}

/* Secta seção - Happy Clients */

#happy-clients .default-body{
  justify-content: center;
  flex-direction: column;
}



.client-area, .client-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-info{
  padding-top: 15px;
}

.client-info h1{
  font-weight: 700;
  font-size: 25px;
}

.client-info h2{
  padding-top: 5px;
  font-size: 17px;
  font-weight: 600;
}

.client-review{
  text-align: center;
  padding-top: 40px;
}

.client-review p{
  margin: auto;
  max-width: 750px;
  padding-top: 10px;
  color: var(--cor6);
  font-weight: 500;
}

/* Sétima seção - empresas */

#empresas{
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;

}

#empresas .container{
  padding: 40px;
  justify-content: space-around;
}


/* oitava seção - Prices */

#prices .default-body{
  margin-top: 35px;
}
.price-table{
  display: flex;
}

.price-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  flex: 1;
  background-color: #fff;
  text-align: center;
  padding: 30px;
}

.price-area .button{
  background-color: #373737;
  padding: 10px 25px;
  margin-top: 10px;

  border: none;
}

.price-area .button:hover{
  background-color: var(--cor1);
  color: white;
}

.price-type h1{
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.price-title h1, .price-desc h2{
  text-transform: uppercase;
  font-weight: 700;
}
.price-title h1{
  font-size: 21px;
}

.price-desc h2{
  color: var(--cor3);
  font-size: 11px;
}

.price-type-desc{
  padding: 10px;
  font-size: 11px;
  font-weight: 600;
  color: #7e7e7e;
}

/* Nona seção - Book */

.book-area{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 30px;
}

.book-feature-area{
  display: flex;
}

.book-desc{
  padding-left: 60px;
}
.book-feature-check{
  margin-right: 15px;
}

.book-feature{
  line-height: 30px;
}

.book-feature h1, .book-feature li{
  text-transform: uppercase;
}

.book-feature h1{
  font-size: 20px;
  color: #242424;
}
.book-feature p, .book-feature ul{
  color: var(--cor3);
  font-size: 14px;
}

.book-feature li::before{
  content: "-";
}

/* Décima seção - Some Facts */

.facts-area{
  display: flex;
}
.facts-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  margin: 10px;
}

.facts-desc h1{
  color: var(--cor1);
  font-size: 50px;
}

.facts-bar{
  margin: 14px 0 10px 0;
  width: 20px;
  height: 4px;
  background-color: #7d7d7d;
}

.facts-desc h2{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.facts-desc p{
  color: var(--cor3);
  font-size: 15px;
}

/* Décima primeria - redes */

#redes{
  border-bottom: 1px solid var(--cor6);
}

#redes .container{
  padding: 20px;
  justify-content: center;

}

.share{
  display: flex;
  align-items: center;
  padding-right: 30px;

  text-transform: uppercase;
  color: var(--cor3);
  font-size: 15px;
  font-weight: 700;
}

.share-img {
  padding-right: 10px;
}

.redes-area{
  display: flex;
  align-items: center;

  color: var(--cor3);
  font-size: 12px;
  font-weight: 700;

}

.redes-logo{
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.redes-logo p{
  margin-left: 8px;
}


/* décima segunda - contact us */

#contact-us .default-body{
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.form label{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.form input{
  padding: 5px;
  margin-top: 7px;
}

.form label:nth-child(1), .form label:nth-child(2){
  width: 50%;
}

.form label:nth-child(3), .form label:last-child{
  width: 100%;
}

.form label p{
  color: var(--cor6);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.form label input{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--cor6);
}

.form textarea{
  margin-top: 5px;
  height: auto;
  resize: none;  
  border: none;
  border-bottom: 1px solid var(--cor6)  ;
  padding: 10px;
  background-color: transparent;
  line-height: 23px;
  font-size: 15px;
}
