@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}
:root{
  --cor1: #b98a5c;
  --cor2: #ffffff;
  --cor3: #aeaeae;
  --cor4: #000000;
  --cor5: #f7f7f7;
  --cor6: #7f7f7f;
  --cor7: #383838;
}



.container{
  display: flex;
  max-width: 1140px;
  margin: auto;
  height: 100%; /*vai tomar o tamanho inteiro da section que tiver*/
}



/*Configurações do Cabeçalho*/

header{
  justify-content: center;
  height: 100px;
  background-color: var(--cor4);
}

header .container{
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  color: var(--cor1);
  width: 80px;
  height: 80px;

  justify-content: center;
  align-items: center;

  font-size: 40px;
  border: 3px solid var(--cor1);
  border-radius: 40px;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu ul, li{ /*Alinha os links que estão na lista*/
  display: flex;
}

.menu a{
  display: flex; /*coloca em flex pra facilitar a personalização*/
  color: var(--cor2);
  text-decoration: none;
  text-transform: uppercase;

  height: 100px;
  align-items: center;
  border-bottom: 3px solid var(--cor4); /*Evita que o menu "salte" quando o mouse passar por cima*/

  padding: 0 6px;
  font-weight: 600;
  font-size: 15px;
}

#selected, .menu a:hover {
  border-bottom: 3px solid var(--cor1);
  transition-duration: 0.2s;

}

/*Primeira seção - home*/

#home{
  background-image: url(../complementos/bg.jpg);
  background-size: cover;
  height: calc(100vh - 100px); /*tamanho da tela do usuário menos o tamanho do header*/
  background-position: bottom;
}

.fundo{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.574);
  height: 100%;
}

.home-content{
  display: flex;
  flex: 1; /*para preencher todo o espaço restante depois do slide*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-transform: uppercase;
  color: var(--cor2);
}
.home-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content h1{
  font-weight: bold;
  font-size: 50px;

  line-height: 50px;
}

.home-content h1 span{
  color: var(--cor1);
}

.home-content h2{
  margin: 13px 0;
  font-size: 17px;
}

.button{
  background-color:var(--cor1);
  color: var(--cor2);
  font-size: 13px;
  font-weight: 600;

  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 52px;
  margin-top: 30px;
  border-radius: 30px;
}

.button:hover{
  background-color: var(--cor2);
  color: var(--cor1);
  border: 1px solid var(--cor1);

  transition-duration: 0.2s;
}

.slide{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide .selected{
  background-color: var(--cor1);
}

.slide-circle{
  width: 16px;
  height: 16px;
  border: 2px solid var(--cor1);
  border-radius: 8px;
  margin: 0 3px;
}

.slide-circle:hover{
  cursor: pointer;
}

/*Segunda seção - about us*/

.column{
  flex-direction: column;
}


.default{
  padding: 40px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.default-title h1, .default-desc h2{
  text-transform: uppercase;
  font-weight: 700;
}
.default-title h1{
  font-size: 21px;
}

.default-desc h2{
  color: var(--cor3);
  font-size: 11px;
  margin-top: 7px;
}

.default-body{
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.dark .default.dark, .default.dark .default-title h1, .default.dark .default-body{
  background-color: var(--cor4);
  color: var(--cor2);
}




/* Sections específicas*/


/*Segunda seção - about us*/

#about-us .default-body{
  display: flex;
}

#about-us .button{
  display: inline-flex;
}

.aboutus1{
  flex: 1;
}
.aboutus1 p{
  line-height: 25px;
}
.aboutus2{
  width: 500px;
}
.aboutus2 img{
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.398);
}

/*Terceira seção - Services*/
#services{
  background-color: var(--cor4);

}

#services .default-body{
  display: flex;
}

.services-box{
  padding: 25px 20px;
  flex: 1;

  background-color: var(--cor4) ;
  text-align: center;
  
  border-right: 1px solid var(--cor7) ;
}

.services-box:first-child{
  border-left: 1px solid var(--cor7)
}

.services-box h1{
  font-size: 17px;
  padding-top: 25px;
  text-transform: uppercase;
}

.services-box p{
  font-size: 14px;
  color: var(--cor6);
  padding-top: 10px;
}


/* Quarta seção - our projects */

#our-projects .default-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-menu{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.projects-menu ul, .projects-menu li{
  display: inline-block;
  list-style: none;
}

.projects-menu ul{
  background-color: #ededed;
  border: 2px solid #cfcfcf ;
  border-radius: 30px;
  padding: 0 20px;
}

.projects-menu li{
  display: inline-block;
  padding: 10px; 
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 3px solid transparent;
  border-left: 1px solid #cfcfcf ;
}

.projects-menu li:first-child{
  border-left: none;
}

.projects-menu li:hover, .projects-menu .selected{
  border-bottom: 3px solid var(--cor1);
  cursor: pointer;
}


.projects-photos-geral{
  justify-content: center;
  display: flex;  
  flex-wrap: wrap;
  margin-top: 20px;
}
.projects-photo{
  width: 255px;
}

.projects-photoarea{ /* cria uma área da imagem e da descrição*/
  margin: 10px;
  width: 235px;
  height: 135px;
}

.projects-photoarea img{
  width: inherit;
  height: inherit;
}

.photoarea-info{
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  width: inherit; /*Limira o tamanho ao mesmo do photoarea*/
  height: inherit;
  background-color: rgba(0, 0, 0, 0.625);
  padding: 10px;
  
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.photoarea-info h1{
  font-size: 15px;
}

.photoarea-info p{
  font-size: 11px;
}

.projects-photoarea:hover .photoarea-info{
  opacity: 1;
  transition-duration: .3s;
  backdrop-filter: blur(1px);
}

/* Quinta seção - Our Team */

